extends base

block content

  main.main
    // display each user from users collection
    .users__container
      each user in users
       - const date = user.createdAt.toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})
       - const upDate = user.updatedAt.toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})

        .users__card
          .users__imgbox        
            img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
            h4
              b= user.name
          .users__info
            .users__info-labels
              p Role
              p Email
              p Active
              p Created At
              p Updated At
              p ID
            .users__info-text
              p= user.role
              p= user.email
              p= user.active
              p= date 
              p= upDate
              p= user.id
          .users__editbox
            a(href=`/admin-panel/users/${user.id}`)
              button.btn.btn-purple Edit
            button.btn.btn-purple.delete-user(data-user-id=`${user.id}`) Delete




