extends base
include _reviewCard


//- SIMPLE COMPONENT - can be exported
mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text 

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span= tour.name
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text #{tour.duration} days
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts

          - const date = tour.startDates[0].toLocaleString('en-US', {year: 'numeric', month: 'long', day: 'numeric'})
          
          +overviewBox('Next date', date, 'calendar')
          +overviewBox('Difficulty', tour.difficulty, 'trending-up')
          +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
          +overviewBox('Rating', `${tour.ratingsAverage} / ${tour.ratingsQuantity}`, 'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

            each guide in tour.guides
              .overview-box__detail
                img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                span.overview-box__label= guide.role
                span.overview-box__text= guide.name
    .description-box
      h2.heading-secondary.ma-bt-lg= tour.summary
      p.description__text= tour.description
      p.description__text 

  section.section-pictures

    each pic in tour.images
      .picture-box
        img.picture-box__img.picture-box__img--1(src=`/img/tours/${pic}`, alt=`${tour.name}`)

  //- section.section-map
  //-   #map

  section.section-reviews
    .reviews
      each review in tour.reviews
        +reviewCard(review)  

  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text #{tour.duration} days. 1 adventure. Infinite memories. Make it yours today!

        if user
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
        else
          a.button.btn.btn--green.span-all-rows(href='/login') Login to book tour
